@import url(https://fonts.googleapis.com/css?family=Outfit);

:root {
    --white: hsl(212, 45%, 89%);
    --outfit: "Outfit", sans-serif;
    --blue: hsl(218, 44%, 22%);
    --grey: hsl(216, 15%, 48%);
}

* {
    margin: 0;
}

body {
    background-color: var(--white);
}

.container {
    background-color: white;
    max-width: 250px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

img {
    max-width: 250px;
    width: 100%;
    border-radius: 15px;
}

.text_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    font-family: var(--outfit);
    color: var(--blue);
    font-size: 20px;
    font-weight: 700;
}

p {
    font-family: var(--outfit);
    color: var(--grey);
    font-size: 15px;
    font-weight: 400;
}

.attribution {
    text-align: center;
    font-size: 11px;
    margin-bottom: 20px;
}

.attribution a {
    color: var(--blue);
}